@font-face { 
    font-family: "WebFont";
    src: url(MuseoSansCyrl500.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face { 
    font-family: "WebFont";
    src: url(MuseoSansCyrl700.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face { 
    font-family: "WebFont";
    src: url(MuseoSansCyrl500Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face { 
    font-family: "WebFont";
    src: url(MuseoSansCyrl700Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}
